[user]
  name = David Bernheisel
  email = david@bernheisel.com
[github]
  user = dbernheisel
[color]
  ui = auto
[interactive]
  diffFilter = delta --color-only
[format]
  pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[credential]
  helper = osxkeychain
[push]
  default = current
[filter "lfs"]
  required = true
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  clean = git-lfs clean -- %f
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[alias]
  last = log -1 HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue%an%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  ls = ls-tree --full-tree -r --name-only HEAD
  branches = for-each-ref --sort=-committerdate --format=\"%(color:blue)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
  s = status
  aa = add --all
  ca = commit --amend
  co = checkout
  dm = diff master
  dd = diff develop
  dl = diff HEAD~1
  uf = reset --hard HEAD
  ufo = !git fetch origin && git reset --hard origin/master && git clean -f -d
  up = !git fetch origin && git rebase origin/master
  undeployed = !git fetch production && git diff origin/master production/master
  ctags = "!sh -c '[ -f .git/hooks/ctags ] || git init; .git/hooks/ctags' git-ctags"
  hide = update-index --assume-unchanged
  unhide = update-index --no-assume-unchanged
  hidden = ! git ls-files -v | grep '^h' | cut -c3-
[rebase]
  autosquash = true
[core]
  attributesfile = ~/.gitattributes
  compression = -1
  autocrlf = input
  excludesfile = ~/.gitignore
  pager = delta --theme='Monokai Extended Bright'
[fetch]
  prune = true
[diff]
  tool = vscode
  guitool = vscode
  colorMoved = dimmed-zebra
  colorMovedWS = allow-indentation-change
[diff "image"]
  textconv = exiftool
  command = ~/.local/bin/git-imgdiff
[difftool "vscode"]
  cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[difftool "kitty"]
  cmd = kitty +kitten diff \"$LOCAL\" \"$REMOTE\"
[difftool "kitty.gui"]
  cmd = kitty kitty +kitten diff \"$LOCAL\" \"$REMOTE\"
[difftool "nvim"]
  cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = vscode
  conflictstyle = diff3
  ff = only
[mergetool "vscode"]
  tool = code --wait \"$MERGED\"
[mergetool "vimdiff"]
  cmd = nvim -d \"$BASE\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c '$wincmd w' -c '$wincmd J'
[commit]
  template = ~/.gitmessage
[http]
  postBuffer = 157286400
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@bitbucket.org/"]
  insteadOf = https://bitbucket.org/
[url "ssh://git@bitbucket.org/taxjar/"]
  insteadOf = tj:
[url "ssh://git@github.com/"]
  insteadOf = gh:
[url "ssh://git@gitlab.com/"]
  insteadOf = gl:
[url "ssh://git@github.com/dbernheisel/"]
  insteadOf = db:
[url "ssh://git@heroku.com/"]
  insteadOf = https://git.heroku.com/
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
[color "diff"]
  meta = 11
  frag = magenta bold
  commit = yellow bold
  old = red bold
  new = green bold
  whitespace = red reverse
  oldMoved = red italic
  oldMovedDimmed = red dim italic
  newMoved = green italic
  newMovedDimmed = green dim italic
[pull]
	ff = only
