*.pyc
*.sqlite3
*.sw[nop]
.env
.env.*
.log
.secret*
temp
tmp/**/*

.vscode/
.zed/
.autoenv.zsh

# Ruby
!tmp/cache/.keep
.bundle
.byebug_history
config/definitions.rb

# MacOS
.DS\_Store
Icon?
Thumbs.db

# ctags
!tags/
tags
tags.lock
tags.temp

# direnv
.envrc

backup
fzf.bash

config/Keybase
config/keybase

*.pem

private_ssh_key

# Linux
.config/autostart
.config/configstore
.config/dconf
.config/dell-recovery
.config/goa*
.config/google-chrome
.config/htop
.config/ibus
.config/menus
.config/monitors.xml
.config/nautilus
.config/neofetch
.config/pavucontrol.ini
.config/systemmonitorrc
.config/systemsettingsrc
.config/transmission
.config/pulse
.config/ukuu*
.config/vlc
.config/yarn

# Vim
.config/nvim/plugged
.config/nvim/undo
.config/nvim/.netrwhist

# Gnome
.config/gnome-initial-setup-done
.config/gnome-control-center
.config/gnome-session
.config/gtk-3.0/bookmarks

# Language Servers
.sqllsrc.json
.sqllsrc
.solargraph.yml
.elixir_ls/
.elixir-tools/
.lexical/
